backpack==0.1
imageio==2.9.0
gdown==4.6.3
matplotlib==3.7.1
pandas==1.5.3
parameterized==0.8.1
Pillow==9.3.0
scikit-learn==1.2.1
torch==1.13.1
torchaudio==0.13.1
torchmetrics
torchvision==0.14.1
tqdm==4.62.2
wilds==2.0.0
